*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
body {
  background: #19191b;
  font-family: "metropolis-regular", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.875;
  margin: 0;
  padding: 0;
}
img, picture, video, canvas, svg {
  display: block; 
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
.main-container{
  max-width: 1100px;
  margin: 0 auto;
}
/*base*/
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
.full-width {
  width: 100%;
}
button,
input,
optgroup,
select,
textarea {
   font-family: sans-serif;
   font-size: 100%;
   line-height: 1.15;
   margin: 0;
}
textarea {
  overflow: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
/*
.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
   display: inline-block;
   font-family: "metropolis-bold", sans-serif;
   font-size: 1.2rem;
   text-transform: uppercase;
   letter-spacing: .3rem;
   height: 5.4rem;
   line-height: 5rem;
   padding: 0 3rem;
   margin: 0 .3rem 1.2rem 0;
   color: #000000;
   text-decoration: none;
   text-align: center;
   white-space: nowrap;
   border-radius: 3px;
   cursor: pointer;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   background-color: #c5c5c5;
   border: .2rem solid #c5c5c5;
} */

.btn:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.btn:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
   background-color: #b8b8b8;
   border-color: #b8b8b8;
   color: #000000;
   outline: 0;
}
.btn.btn--primary,
button.btn--primary,
input[type="submit"].btn--primary,
input[type="reset"].btn--primary,
input[type="button"].btn--primary {
   background: #000000;
   border-color: #000000;
   color: #FFFFFF;
}

.btn.btn--primary:hover,
button.btn--primary:hover,
input[type="submit"].btn--primary:hover,
input[type="reset"].btn--primary:hover,
input[type="button"].btn--primary:hover,
.btn.btn--primary:focus,
button.btn--primary:focus,
input[type="submit"].btn--primary:focus,
input[type="reset"].btn--primary:focus,
input[type="button"].btn--primary:focus {
   background: #0054a5;
   border-color: #0054a5;
}
.btn--large, button.btn--large {
  height: 6rem !important;
  line-height: 5.6rem !important;
}

.row {
  width: 94%;
  max-width: 1200px;
  margin: 0 auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row .row {
  width: auto;
  max-width: none;
  margin-left: -20px;
  margin-right: -20px;
}
@media only screen and (max-width: 400px) {
  .row .row {
     margin-left: 0;
     margin-right: 0;
  }
}
@media only screen and (max-width: 600px) {
  .row {
     width: auto;
     padding-left: 25px;
     padding-right: 25px;
  }

  .row .row {
     margin-left: -10px;
     margin-right: -10px;
     padding-left: 0;
     padding-right: 0;
  }
}
@media only screen and (max-width: 800px) {
  .row {
     width: 90%;
  }
}
@media only screen and (max-width: 1200px) {
  .row .row {
     margin-left: -15px;
     margin-right: -15px;
  }
}


/* Index Page */
.hero{
  width: 100%;
  height:40vh;
  margin-top: -5rem;
  background: linear-gradient(-180deg, #171c24, #333333, #444444,#555555);
  animation: gradient 15s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.hero h1{
  display: inline-block;
  font-size: 5rem;
  font-weight: bolder;
  color:#ffffff
}
.posts{
 background-color: aqua;
}
.articles{
 background-color: aquamarine;
 height: auto;
 display: grid;
 grid-template-columns: repeat(auto-fit,minmax(280px,auto));
 justify-content: center;
 align-items: center;
 gap: 1.5rem;
}
/* post card */
.post{
  background-color: #E8BB06;
  border: 1px solid black;
  width:300px;
  height:350px;
  padding: 10px;
}
.postimg{
  width: 100%;
  height:200px; 
  object-fit: cover;
  object-position: center;
}
.category{
  font-size: 0.9rem;
  font-weight: 500;
}
.category span{
  display: inline-block;
  padding: 1px 2px;
  margin-right: 2px;
  border: 1px solid black
}
.posttitle{
  font-size: 1.7rem;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.postdate{
  font-size: 1rem;
  font-weight: 400;
  margin-top: 4px;
}
.profile{
  display: flex;
  align-items: center;
  gap: 10px;
  
}
.profileimg{
  width: 35px;
  height:35px;
  object-fit: cover;
  object-position: center;
  border: 2px solid #33ab39;
  border-radius:50%;
}
.profilename{
  font-size: 0.82rem;
  font-weight: 500;
}
/* Single Post */
.col-full {
  width: 100%;
}
.s-content {
  background-color: #f2f2f2;
  margin-top: 6rem;
  padding-top:1rem;
  padding-bottom: 7.2rem;
}.s-content--narrow .row {
  max-width: 960px;
  margin: 0 auto;
}
.s-content--no-padding-bottom {
  padding-bottom: 0;
}
.s-content__header{
  padding-bottom: 3rem;
  text-align: center;
}
.s-content__header h1 {
  font-size: 4.8rem;
  line-height: 1.25;
  margin-top: 0;
  letter-spacing: -.15rem;
}
.s-content__header-title {
  font-size: 4.2rem;
  line-height: 1.214;
  margin-bottom: .9rem;
}
.s-content__header-meta {
  list-style: none;
  margin-left: 0;
  margin-bottom: 1.2rem;
  font-family: "metropolis-medium", sans-serif;
  font-size: 1.5rem;
  line-height: 1.8;
  position: relative;
}

.s-content__header-meta li {
  display: inline-block;
  padding-left: 0;
  margin: 0 1rem;
}
.s-content__media {
  padding: 0;
  margin-top: 4.8rem;
}

.s-content__media img {
  vertical-align: bottom;
}

.s-content__media, .s-content__post-thumb {
  position: relative;
}
.s-content__main {
  margin-top: 6rem;
  padding-left: 6rem;
  padding-right: 6rem;
}
.scmp{
  padding-left: 6rem;
  padding-right: 6rem;
}

.s-content__main img {
  max-width: 960px;
  margin: 3rem 0 3rem -6rem;
}
.s-content__main code {
  font-size: 1.4rem;
  margin: 0 .2rem;
  padding: .3rem .6rem;
  white-space: nowrap;
  background: #e5e5e5;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
}
.s-content__tags {
  margin-top: 6rem;
  font-family: "metropolis-regular", sans-serif;
}

.s-content__tags span {
  font-family: "metropolis-bold", sans-serif;
  color: #151515;
  position: relative;
  padding-right: 55px;
  margin-right: 1.5rem;
  margin-top: 1.2rem;
}

.s-content__tags span::after {
  display: inline-block;
  content: "";
  height: 1px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  right: 0;
}

.s-content__tags .s-content__tag-list {
  display: inline-block;
  padding-right: 0;
  margin-right: 0;
}

.s-content__tags .s-content__tag-list::after {
  display: none;
}

.s-content__tags .s-content__tag-list a {
  display: inline-block;
  font-family: "metropolis-regular", sans-serif;
  font-size: 1.3rem;
  line-height: inherit;
  color: #7f7f7f;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 0 10px;
}

.s-content__tags .s-content__tag-list a:hover, 
.s-content__tags .s-content__tag-list a:focus {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}

.s-content__tags .s-content__tag-list a:last-child {
  margin-right: 0;
}


.s-content__author {
  margin-top: 10.2rem;
  padding-left: 9rem;
  position: relative;
}

.s-content__author img {
  margin: 0 !important;
  width: 6.6rem;
  height: 6.6rem;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.s-content__author p {
  margin-bottom: 1.2rem;
}

.s-content__author-name {
  margin-top: 0;
}

.s-content__author-name a {
  color: #151515;
}
@media only screen and (max-width:1200px) {
  .s-content--narrow .row {
     max-width: 900px;
  }

}

@media only screen and (max-width:1000px) {
  .s-content--narrow .row {
     max-width: 800px;
  }

  .s-content__header h1 {
     font-size: 4.5rem;
  }

}

@media only screen and (max-width:800px) {
  .s-content {
     padding-top: 6rem;
  }

  .s-content__header h1 {
     font-size: 4rem;
  }

}

@media only screen and (max-width:600px) {
  .s-content__header h1 {
     font-size: 3.6rem;
  }

}
@media only screen and (max-width:1200px) {
  .s-content--narrow .s-content__header {
     padding: 0 6rem;
  }

  .s-content__main {
     padding-left: 5rem;
     padding-right: 5rem;
  }

  .s-content__main img {
     max-width: 900px;
     margin: 3rem 0 3rem -5rem;
  }

}

@media only screen and (max-width:1000px) {
  .s-content--narrow .s-content__header {
     padding: 0 6rem;
  }

  .s-content__header-title {
     font-size: 3.8rem;
  }

  .s-content__main {
     padding-left: 4rem;
     padding-right: 4rem;
  }

  .s-content__main img {
     max-width: 800px;
     margin: 3rem 0 3rem -4rem;
  }

}

@media only screen and (max-width:900px) {
  .s-content__main, .s-content__media {
     padding-left: 15px;
     padding-right: 15px;
  }

  .s-content--narrow .s-content__header {
     padding: 0 5rem;
  }

  .s-content__main img {
     max-width: 100%;
     margin: 3rem 0 3rem;
  }

}

@media only screen and (max-width:800px) {
  .s-content__header-title {
     font-size: 3.6rem;
  }

  .s-content__prev, .s-content__next {
     width: 100%;
     float: none;
     padding: 0;
     text-align: left;
     margin-bottom: 1.8rem;
  }

  .s-content__author {
     text-align: center;
     padding-left: 0;
  }

  .s-content__author img {
     position: static;
  }

  .s-content__author-name {
     margin-top: 1.2rem;
  }

}

@media only screen and (max-width:600px) {
  .s-content--narrow .s-content__header, .s-content__main, .s-content__media {
     padding-left: 10px;
     padding-right: 10px;
  }

  .s-content__prev, .s-content__next {
     text-align: center;
  }

}

@media only screen and (max-width:500px) {
  .s-content__header-title {
     font-size: 3.4rem;
  }

}

@media only screen and (max-width:400px) {
  .s-content--narrow .s-content__header, .s-content__main, .s-content__media {
     padding-left: 0;
     padding-right: 0;
  }

  .s-content--narrow .s-content__header {
     margin-top: 0;
  }

  .s-content__header-title {
     font-size: 3.3rem;
  }

}
@media only screen and (max-width:800px) {
  .s-content__header-title {
     font-size: 3.6rem;
  }
  .s-content__author {
     text-align: center;
     padding-left: 0;
  }

  .s-content__author img {
     position: static;
  }

  .s-content__author-name {
     margin-top: 1.2rem;
  }

}
blockquote {
  margin: 3.9rem 0;
  padding-left: 4.5rem;
  position: relative;
}

blockquote:before {
  content: "\201C";
  font-size: 10rem;
  line-height: 0px;
  margin: 0;
  color: rgba(0, 0, 0, 0.25);
  font-family: arial, sans-serif;
  position: absolute;
  top: 3.6rem;
  left: 0;
}

blockquote p {
  font-family: "metropolis-medium", sans-serif;
  padding: 0;
  font-size: 2.1rem;
  line-height: 1.857;
  color: #000000;
}
/* comment */
.comments-wrap {
  background-color: #e5e5e5;
  padding: 8.4rem 0 9rem;
  margin-top: 10.2rem;
}
#comments {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  max-width: 880px;
  color: #4c4c4c;
}
#comments h3 {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
#comments ol, #comments ul {
  list-style: none;
}
.commentlist {
  margin: 6rem 0 5.4rem;
  padding: 0;
}
.commentlist > .comment {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 1.8rem 0;
  padding-left: 14%;
}
.comment__avatar {
  position: absolute;
  left: 0;
  display: block;
  height: 6rem;
  width: 6rem;
}
.comment__avatar img {
  margin-top: 0.6rem;
  height: 6rem;
  width: 6rem;
  border-radius: 100%;
}
.comment__info cite {
  font-family: "metropolis-bold", sans-serif;
  font-size: 1.5rem;
  line-height: 1.263;
  font-style: normal;
  color: #151515;
}
.comment__meta {
  font-family: "metropolis-regular", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-style: normal;
  display: block;
  color: rgba(0, 0, 0, 0.7);
}
.comment__meta time {
  margin-right: 12px;
}
.comment__text {
  clear: both;
  font-size: 1.5rem;
  margin: 1rem 0 0 0;
  padding: 0;
}
#comments .respond {
  padding-top: 4.2rem;
}

#comments form {
  padding-top: 3rem;
}

#comments form .form-field {
  margin-bottom: 3.9rem;
}
@media only screen and (max-width:1200px) {
  #comments {
     max-width: 830px;
  }

}

@media only screen and (max-width:1000px) {
  #comments {
     max-width: 750px;
  }

}

@media only screen and (max-width:800px) {
  #comments form button {
     width: 100%;
  }

  .comment__avatar {
     height: 5.1rem;
     width: 5.1rem;
  }

  .comment__avatar img {
     margin-top: 0;
     height: 5.1rem;
     width: 5.1rem;
  }

}

@media only screen and (max-width:600px) {
  #comments h3 {
     text-align: center;
  }

  .commentlist > .comment {
     padding-left: 0;
  }

  .commentlist .comment__avatar {
     display: none;
  }

}
/* masonry */
.masonry-wrap{
max-width: none;
width: 1440px;
overflow: hidden;
}
@media only screen and (max-width:1480px) {
  .masonry-wrap {
     width: 1080px;
  }

}

@media only screen and (max-width:1140px) {
  .masonry-wrap {
     width: 1020px;
  }

  .archive .grid-sizer, .archive .masonry__brick {
     width: 340px;
  }

}

@media only screen and (max-width:1060px) {
  .masonry-wrap {
     width: 740px;
  }

  .archive .grid-sizer, .archive .masonry__brick {
     width: 370px;
  }

}

@media only screen and (max-width:800px) {
  .masonry-wrap {
     max-width: 700px;
     width: 90%;
  }

   .grid-sizer,  .masonry__brick {
     width: 50%;
     padding: 0 15px;
  }

}

@media only screen and (max-width:700px) {
  .masonry-wrap {
     max-width: 400px;
  }

  .archive .grid-sizer, .archive .masonry__brick {
     width: 100%;
     clear: both;
  }

}

@media only screen and (max-width:600px) {
  .masonry-wrap {
     width: auto;
  }

  .archive .grid-sizer, .archive .masonry__brick {
     padding: 0 10px;
  }

}

@media only screen and (max-width:400px) {
  .archive .masonry__brick {
     width: 100% !important;
     float: none !important;
     clear: both !important;
     margin-left: 0;
     margin-right: 0;
     padding: 0;
  }

}
/* all posts */
.all-posts{
  width: 100%;
  height: auto;
 display: grid;
 grid-template-columns: repeat(auto-fit,minmax(280px,auto));
 justify-content: center;
 align-items: center;
 gap: 1.5rem;
}
/*profile */
.profile-row{
  
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.pb-5, .py-5 {
  padding-bottom: 3rem!important;
}
.pt-5, .py-5 {
  padding-top: 3rem!important;
}
.pl-4, .px-4 {
  padding-left: 1.5rem!important;
}
.pr-4, .px-4 {
  padding-right: 1.5rem!important;
}
.col-md-5{
  position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-lg-6{
  position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.ml-auto, .mx-auto {
  margin-left: auto!important;
}
.mr-auto, .mx-auto {
  margin-right: auto!important;
}
.rounded {
  border-radius: 0.25rem!important;
}
.bg-white {
  background-color: #fff!important;
}
.cover {
  background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}
.p-4 {
  padding: 1.5rem!important;
}
.pl-4, .px-4 {
  padding-left: 1.5rem!important;
}
.pb-4, .py-4 {
  padding-bottom: 1.5rem!important;
}
.pr-4, .px-4 {
  padding-right: 1.5rem!important;
}
.pt-4, .py-4 {
  padding-top: 1.5rem!important;
}
.pt-0, .py-0 {
  padding-top: 0!important;
}
.pb-3, .py-3 {
  padding-bottom: 1rem!important;
}
.pt-3, .py-3 {
  padding-top: 1rem!important;
}
.profile-head {
  transform: translateY(5rem);
}
.align-items-end {
  -webkit-box-align: end!important;
  -ms-flex-align: end!important;
  align-items: flex-end!important;
}
.align-items-center {
  -webkit-box-align: center!important;
  -ms-flex-align: center!important;
  align-items: center!important;
}
.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.mr-3, .mx-3 {
  margin-right: 1rem!important;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}
.mb-2, .my-2 {
  margin-bottom: 0.5rem!important;
}
.mb-5, .my-5 {
  margin-bottom: 3rem!important;
}
.mb-4, .my-4 {
  margin-bottom: 1.5rem!important;
}
.mb-0, .my-0 {
  margin-bottom: 0!important;
}
.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}
.profile{
  position: relative;
}
.image-edit{
  position: absolute;
  top:5px;
  left:5px;
  background-color: white;
  height: 20px;
}
.image-input{
  display: none;
}
.media-body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.text-white {
  color: #fff!important;
}
.text-center {
  text-align: center!important;
}
.mb-0, .my-0 {
  margin-bottom: 0!important;
}
.mt-0, .my-0 {
  margin-top: 0!important;
}
.mr-2, .mx-2 {
  margin-right: 0.5rem!important;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}
.mb-0, .my-0 {
  margin-bottom: 0!important;
}
.h4, h4 {
  font-size: 1.5rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
.small, small {
  font-size: 80%;
  font-weight: 400;
}
.justify-content-end {
  -webkit-box-pack: end!important;
  -ms-flex-pack: end!important;
  justify-content: flex-end!important;
}
.justify-content-between {
  -webkit-box-pack: justify!important;
  -ms-flex-pack: justify!important;
  justify-content: space-between!important;
}
.d-flex {
  display: -webkit-box!important;
  display: -ms-flexbox!important;
  display: flex!important;
}

.bg-light {
  background-color: #f8f9fa!important;
}
.list-inline {
  padding-left: 0;
  list-style: none;
}
.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}
.list-inline-item {
  display: inline-block;
}
.h5, h5 {
  font-size: 1.25rem;
}
.font-italic {
  font-style: italic!important;
}
.editInfo{
  display: inline-block;
  display: flex;
  width: 50px;
  justify-content: space-between;
}
.ql-editor {
  height: 205px !important;
}
.ql-editor img{
  width: 50%;
  height: auto;
}
.archive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 32px;
  grid-auto-rows: minmax(300px,auto);
  grid-auto-flow: dense;
}
.archive .entry {
  margin-bottom: 40px;
}

.archive .entry__thumb, .archive .entry__text {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
}

.archive .entry__thumb {
  position: relative;
  overflow: hidden;
}

.archive .entry__thumb-link img {
  vertical-align: bottom;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.archive .entry__thumb-link::before {
  content: "";
  display: block;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.archive .entry__thumb-link::after {
  content: "...";
  font-family: georgia, serif;
  font-size: 2.7rem;
  z-index: 1;
  display: block;
  height: 90px;
  width: 90px;
  letter-spacing: -1px;
  line-height: 90px;
  margin-left: -45px;
  margin-top: -45px;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  color: #FFFFFF;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}

.archive .entry__thumb:hover .entry__thumb-link::before {
  opacity: 1;
  visibility: visible;
}

.archive .entry__thumb:hover .entry__thumb-link::after {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.archive .entry__thumb:hover .entry__thumb-link img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.archive .entry__text {
  padding: 3rem 2.8rem 3.6rem;
  background-color: #FFFFFF;
}

.archive .entry__title {
  font-size: 2.4rem;
  line-height: 1.375;
  margin-top: 0;
  margin-bottom: 2.1rem;
}

.archive .entry__title a {
  color: #000000;
  border-bottom: 1px solid transparent;
}

.archive .entry__title a:hover, .archive .entry__title a:focus {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.archive .entry__date {
  font-family: "metropolis-medium", sans-serif;
  font-size: 1.4rem;
  line-height: 1.714;
  margin-bottom: .6rem;
}

.archive .entry__date a {
  color: #858585;
}

.archive .entry__excerpt {
  font-size: 1.5rem;
  line-height: 1.8;
}

.archive .entry__meta {
  font-family: "metropolis-semibold", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0.6rem;
}

.archive .entry__meta span {
  color: #0054a5;
  margin-right: 0.2rem;
}

.archive .entry__meta span:hover, .archive .entry__meta span:focus {
  color: #000000;
}

.archive .entry__meta-links span::after {
  content: ", ";
}

.archive .entry__meta-links span:last-child::after {
  display: none;
}
.archive .entry__author {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.archive .entry__author img {
  margin: 0 !important;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
}

.archive .entry__author p {
  margin-bottom: 1.2rem;
}

.archive .entry__author-name {
  margin-top: 0;
}

.archive .entry__author-name a {
  color: #151515;
}
.masonry__brick {
  float: left;
  padding: 0 20px;
}
.drkbtn{
  display: inline-block;
  font-family: "metropolis-regular", sans-serif;
  font-size: 1.3rem;
  line-height: inherit;
  color: #7f7f7f;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 0 10px;
}
.drkbtn:hover, 
.drkbtn:focus {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.button28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button28:disabled {
  pointer-events: none;
}

.button28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button28:active {
  box-shadow: none;
  transform: translateY(0);
}
.masonry-wap h2{
  margin:2rem auto;
  text-align: center;
  font-weight: bold;
}